/* global css rules, these rules applies for all elements */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    max-width: 800px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
}

p {
    font-size: 17px;
    line-height: 25px;
}


/* question body */

.content-container {
    flex: 3;
}

.interaction {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div.interaction-panel {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 65%;
}

.btn {
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(14, 22, 139);
}

button#start {
    background-color: rgb(10, 138, 27);
}

button#confirm {
    background-color: rgb(10, 138, 27);
}

button#quit {
    background-color: rgb(235, 34, 34);
}

button#cheat-answer {
    background-color: rgb(219, 152, 7);
}

p.question-body {
    font-weight: 800;
    font-size: 20px;
}


/* Displays if answer is correct */

h2.correct {
    margin-bottom: auto;
    color: green;
}


/* Displays if answer is false */

h2.false {
    margin-bottom: auto;
    color: red;
}

section#cheat-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#cheat {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}


/* progress bar */

section#progress-bar {
    display: flex;
    justify-content: center;
}

div.progress-container {
    display: flex;
    width: 100%;
}

div.box {
    height: 20px;
    width: 30px;
    border: 1px solid black;
    flex: 1;
}